# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=****

# Get your Groq API Key here: https://console.groq.com/
GROQ_API_KEY=****

# Get your OpenAI API Key here: https://platform.openai.com/api-keys
OPENAI_API_KEY=****

# Custom Lexi models endpoint configuration
CUSTOM_API_BASE_URL=https://open-brain.xteo.com/
CUSTOM_API_KEY=lexiAPI

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL=****
NEXT_PUBLIC_SUPABASE_ANON_KEY=****
SUPABASE_SERVICE_ROLE_KEY=****

# Instructions to create a Redis store here:
# https://vercel.com/docs/redis (optional - resumable streams will be disabled without it)
REDIS_URL=****
